*.mdl 
*.smdl 
*.vvd
*.vtx
*.phy
*.bsp
*.wav
*.ogg
*.vtf
*.ttf
*.otf
*.exe
*.png
*.zip
*.rar
*.mp3
addons/ambi/lua/modules/spy/*
addons/script-igs/lua/igs/settings/config_sv.lua
addons\script-igs\lua\igs\settings\config_sv.lua
sv_secret_*
data/*
sv.db